* { margin: 0; padding: 0 }
@media (min-width: 1024px) { html { font-size: 24pt } }
body { max-width: 32rem; margin: auto; padding: 1rem }
body { line-height: 1rem; font-size: .8rem }
body:after { content: "☙"; display: block; text-align: center }
body:after { font-size: 2rem; opacity: .2; margin: 3rem }
p, li { margin: 1rem 0 }
code { font-size: 80%; }
h1, h2, h3, h4, h5, h6 { font-family: sans-serif }
ol { list-style-type: none }
ol ol { padding-left: 1rem }
ul { list-style-type: square }
ul { margin-left: 1rem }
img { width: 4.2rem }
b { font-family: sans-serif; font-size: 90% }
.example { margin: 1rem 2rem }
hgroup { margin: 2rem 0 }
hgroup img { float: right }
hgroup h1 { line-height: 3rem; font-size: 2.5rem }
hgroup div { font-size: 1.25rem }
hgroup div { letter-spacing: -.05rem; font-family: sans-serif }
#toc li { margin: .25rem; font-family: sans-serif }
#toc a { text-decoration: none; border-bottom: 1px solid currentcolor }

h2 { margin-top: 2rem }
h2 { font-size: 1rem }
h3 { font-weight: normal }